<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset = "utf-8">
        <title></title>
   </head>
    <body>
        <nav>
            <a href="{% url 'user:index' %}">ホーム</a>
            <a href="{% url 'admin:index' %}">管理画面</a>
        {% if user.is_authenticated %}
            <a href="{% url 'user:user_logout' %}">ログアウト</a>
        {% else %}    

            <a href="{% url 'user:user_login' %}">ログイン</a>
        {% endif %}
        </nav>
<hr style="border-top: 5px double #000;"> </hr>
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>