{% extends "user/base.html" %}
{% block content%}
<h1>☆★☆ホーム☆★☆</h1>

    {% if user.is_authenticated %}
        {% if username %}
            <p>ログインありがとうございます。ようこそ、{{username}} さん！</p>
            <a href="{% url 'user:user_list' %}">ユーザー一覧へ</a>
        {% else %}
            <p>おかえりなさい、{{user.username}} さん！</p>
            <a href="{% url 'user:user_list' %}">ユーザー一覧へ</a>
        {% endif %}
    {% else%}
    <p>こんにちは、<a href="{% url 'user:user_login' %}">ログイン</a>お願いします！</p>
    <p>もしアカウントを所持していなければ、<a href="{% url 'user:register' %}">こちら</a>からアカウント登録してみましょう！</p>

    {% endif %}
{% endblock %}