{% extends "user/base.html" %}
{% block content%}
<h1>☆★☆ホーム☆★☆</h1>
<hr style="border-top: 5px double #000;"> </hr>
    {% if user.is_authenticated %}
        {% if username %} <!-- ログイン直後（１回目）の処理-->
            <p>ログインありがとうございます。ようこそ、<font color="red">{{username}}</font> さん！</p>
        {% else %} <!-- ログイン後（２回目）の処理-->
            <p>おかえりなさい、<font color="red">{{user.username}}</font> さん！</p>
        {% endif %}

        {% if user.profile.picture %} <!-- アイコン登録済の処理-->
            <img src="{{ user.profile.picture.url }}" width="50" height='50'></img>
        {% endif %}

        <p><a href="{% url 'user:user_list' %}">ユーザー一覧へ</a></p>

    {% else%}
    <p>こんにちは、<a href="{% url 'user:user_login' %}">ログイン</a>お願いします！</p>
    <p>もしアカウントを所持していなければ、<a href="{% url 'user:register' %}">こちら</a>からアカウント登録してみましょう！</p>

    {% endif %}
{% endblock %}