{% extends "user/base.html" %}
{% block content%}
<h1>☆★☆<font color="red">{% for profile in profile %}{{profile.user.username}}{% endfor %}</font> さんのプロフィール画面☆★☆</h1>
<!-- いちいちforしないと値を表示できないのはviewsでリストとして値を送信してるからかな？　-->
<hr style="border-top: 5px double #000;"> </hr>

        {% for profile in profile %}
            <img src="{{ profile.picture.url }}" width="300" height='300' align="top"></img>
        {% endfor %}
<hr style="border-top: 3px dotted #000;"> </hr>
<table border=1 width=500 height=100>
    <tr>
        <th>ニックネーム</th>    
        <th>年齢</th>
        <th>趣味</th>
        <th>くだもの</th>  
        <th>ウェブサイト</th>
    </tr>
    {% for profile in profile %}
    <tr>
        <td> {{profile.user.username}}</td> <!-- 外部キーから値をとるときはこうする -->
        <td> {{profile.age}} </td> <!-- 年齢 -->
        <td> {{profile.hobby}} </td> <!-- 趣味 -->
        <td> {{profile.fruits}} </td>  
        <td> {{profile.website}} </td>
    </tr>
    {% endfor %}

</table>
<br>
<a href="{% url 'user:user_list' %}">ユーザー一覧画面へ戻る </a>


{% endblock %}



